<div class="bg justify-content-center my-banner">
  {{#if this.user.isLoggedIn}}

    <div class="container border bg-dark text-white p-4 rounded shadow">
      <div class="alert alert-success mt-2">
        <p class="mb-0">
          Hallo,
          <strong>{{this.user.name}}</strong>! Du bist eingeloggt und hast
          <span class="fw-bold">{{this.user.balance}}€</span>
          Guthaben.
        </p>
      </div>

      <div>
        <h1 class="mb-4">Badges Kaufen</h1>
        <div class="badges d-flex flex-wrap justify-content-center gap-4">
          {{#each this.badges as |badge|}}
            <div class="card bg-light text-dark p-3 shadow-sm" style="width: 150px;">
              <img
                src="{{badge.path}}"
                alt="{{badge.name}}"
                class="badge-img card-img-top mx-auto"
              >
              <div class="card-body text-center">
                <h6 class="card-title">{{badge.name}}</h6>
                <p class="card-text">{{badge.price}} €</p>
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  disabled={{this.hasBadge badge.path}}
                  {{on "click" (fn this.buyBadge badge.path badge.price)}}
                >
                  Kaufen
                </button>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div>
        <h1 class="mb-4">Deine Badges</h1>
        {{#if this.user.badges}}
          <div class="d-flex flex-wrap justify-content-center gap-2">
            {{#each this.user.badges as |badge|}}
              <div class="card  -dark p-1 shadow-sm">
                <img
                  src="{{badge}}"
                  alt="{{badge}}"
                  class="badge-img card-img-top mx-auto"
                >
              </div>

            {{/each}}
          </div>
        {{else}}
          <p class=" fst-italic white">Du hast noch keine Badges gekauft.</p>
        {{/if}}
      </div>

    </div>

  {{else}}
    <form {{on "submit" this.submitLogin}} class="mt-3 container border bg-light p-4 rounded shadow">
      <div class="mb-3">
        <label for="username" class="form-label">
          Gib deinen Usernamen an
        </label>
        <input
          id="username"
          type="text"
          class="form-control"
          value={{this.username}}
          {{on "input" this.updateUsername}}
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Erstelle deinen User
      </button>
    </form>
  {{/if}}
</div>
