{{page-title "Games"}}
<div class="bg justify-content-center my-banner">
  <div class="bg-dark justify-content-center p-5 rounded-4">
    <h2 class="text-center">Wähle ein Spiel</h2>

    <ul>
      {{#each @model as |game|}}
        <li>
          {{game.name}}:
          <LinkTo @route="games.slot" @model={{game.id}}>Play Solo</LinkTo> |
          <LinkTo @route="games.slot-duel" @model={{game.id}}>Duel Mode</LinkTo>
        </li>
      {{/each}}
    </ul>

  </div>
</div>

{{outlet}}

